@media screen and (max-width: 900px) {
    .landing-page-image {
        display: none;
    }
    .landing-page-title {
        width: 70%;
    }
    .recommendation {
        justify-content: center;

    }
    .recommendation-content {
        width: 80%;
        margin-top: 2rem;
    }
    .features-image {
        display: none;
    }
    .features {
        justify-content: center;
    }
    .features-content {
        width: 80%;
    }
    .our-app {
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 7rem;
    }
    .our-app-image {
        width: 270px;
    }
    .our-app-content {
        width: 78%;
    }
    .question {
        flex-flow: row wrap-reverse;
    }
    .question-content {
        width: 100%;
    }
   
}
@media screen and (max-width: 480px) {
    html {
        font-size: 13px;
    }
    .statistic-item {
        flex-basis: 40%;
    }
    .footer-child {
        flex-direction: column;
        row-gap: .8rem;
    }
}

@media screen and (max-width: 768px) {
    .about-us {
        flex-flow: row wrap;
    }
    .about-us-item {
        width: 100%;
    }
}