@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes fade-right {
  from {
    transform: translateX(-30%);
  }
  to {
    
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}
:root {
  --background-color: #fff;
  --active-color: #ff4363;
}

body {
  font-family: "Poppins";
  background-color: var(--background-color);
}
.landing-page {
  font-weight: 500;
  background-color: var(--active-color);
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5rem;
}
.landing-page header {
  padding-top: 0.7rem;
  width: 85vw;
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
}
.header-logo {
  font-size: 2rem;
}
.hamburger-menu {
  width: 27px;
}
.hamburger-menu .hamburger-bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
}
.landing-page-image {
  width: clamp(300px, 36vw, 600px);
  transform: rotate(-4deg) translateY(-40px);
  margin-left: 1rem;
}

.landing-page h1 {
  font-size: clamp(3rem, 3.8vw, 5rem);
  font-family: "Roboto";
  font-weight: 400;
  transform: translateX(-30%);
  opacity: 0;
  animation: fade-right .5s .4s linear forwards;
}


.landing-page-title {
  width: 40%;
}
.landing-page-title p {
  font-size: clamp(16px, 1vw, 25px);
  font-family: "Poppins";
  margin: 1rem 0 1.3rem;
  font-weight: 400;
  line-height: 1.78;
  transform: translateY(50px);
  opacity: 0;
  animation: fade-top .5s .85s linear forwards;
}
.landing-page-title > div {
  margin: 2rem;
}

.download-btn {
  font-size: 1.1rem;
  font-family: "Roboto";
  font-weight: 400;
  color: var(--active-color);
  border: 0;
  padding: 0.8rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  margin: .8rem 0;
}
.watch-video-btn {
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto";
  margin: .8rem 0 .5rem 2rem;
  cursor: pointer;
}
.watch-video-btn i {
  margin-right: 0.4rem;
}

.custom-shape-divider-bottom-1625080575 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1625080575 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 121px;
}

.custom-shape-divider-bottom-1625080575 .shape-fill {
  fill: #ffffff;
}

.about-us {
  display: flex;
  width: 85vw;
  margin: 8rem auto;
  justify-content: center;
  gap: 15px;
  font-family: "Poppins";
  color: #666;
}
.about-us-item {
  text-align: center;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  padding: 3.2rem 1.5rem 2rem;
  border-radius: 10px;
}
.icon-background {
  background-color: #ffc1cb;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
}
.about-us-item h4 {
  font-weight: 500;
  margin: 1rem 0;
  font-size: 1.3rem;
}
.about-us-item p {
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 1.1rem;
}
.icon-background img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.icon-background.security {
  background-color: #fdeee8;
}
.icon-background.edit {
  background-color: #eae9fa;
  padding: 0 0 4px 4px;
}
.icon-background.drafting {
  background-color: #fce5e7;
}
.icon-background.user {
  background-color: #e9e8fa;
}
.icon-background.bell {
  background-color: #fdedee;
}
.icon-background.like {
  background-color: #f8ebe7;
}
.recommendation {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
.recommendation-content {
  width: 50%;
}
.recommendation > img {
  width: clamp(300px, 35.6vw, 600px);
  object-fit: contain;
  margin-left: -2.4rem;
}
.image-container {
  background: #ffebed;
  width: 102px;
  padding: 1rem;
  height: 102px;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.recommendation h2 {
  font-family: "Roboto";
  font-weight: 400;
  margin: 1.5rem 0;
  font-size: 3rem;
}
.recommendation ul li::marker {
  color: #ff7588;
}
.recommendation ul {
  margin-top: 2rem;
}
.recommendation ul li {
  margin: 0.7rem;
}
.learn-more {
  margin-top: 1rem;
  background-color: var(--active-color);
  color: #fff;
  border: 0;
  border-radius: 20px;
  font-family: "Roboto";
  font-size: 1rem;
  padding: 0.8rem 1.8rem;
  font-weight: 300;
}

.features {
  display: flex;
  width: 85vw;
  margin: 5rem auto 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.features-image {
  width: clamp(300px, 41vw, 600px);
}
.features-content {
  width: 47%;
}
.features .icon-background {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0.7rem;
}
.features-content > h2 {
  font-weight: 400;
  margin: 1rem 0 1.3rem;
  font-size: 2.2rem;
}
.features-content > p {
  font-weight: 400;
  color: #666;
}

.feature-item {
  margin: 1.8rem 0;
}
.feature-item p {
  margin: 1rem;
  line-height: 2;
}
.our-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 1rem 1rem 2rem;
  position: relative;
  background-color: var(--active-color);
}
.our-app-title {
  font-family: "Roboto";
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.our-app-content {
  width: 45%;
}
.our-app-content p {
  color: #fff;
}
.our-app-image {
  width: clamp(388px, 30vw, 500px);
  margin-top: 2rem;
}
.our-app .learn-more {
  background-color: #fff;
  color: var(--active-color);
  font-weight: 400;
  margin-top: 3rem;
}
.question {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  width: 85vw;
  margin: 3rem auto 1rem;
}
.question-content {
  width: 40%;
}
.question-content h2 {
  margin: 1.2rem 0;
  font-family: "Roboto";
  font-size: 2.6rem;
  font-weight: 400;
}
.question-content > p {
  color: #666;
  margin-top: .8rem;
}
.question-image {
  width: clamp(200px, 19vw, 400px);
}

.user-sample-question {
  margin: 1rem 0 ;
}
.user-sample-question span {
  display: inline-block;
  color: var(--active-color);
  font-weight: 400;
  margin-bottom: .7rem;
  font-size: 1.3rem;
}

.statistic {
  background-color: var(--active-color);
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 85vw;
  gap: 1rem;
  color: #fff;
  padding: 4rem 2.8rem ;
  font-family: 'Poppins';
  border-radius: 6px;
  align-items: center;
  justify-content: space-evenly;
}
.statistic-item {
  text-align: center;
}
.statistic-item > p {
  font-size: 2.32rem;
  font-family: 'Roboto';
}
.contact-us {
  margin: 4.5rem auto;
  min-width: 300px;
  width: 40%;
  text-align: center;
}
.contact-us h2 {
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 400;
}
.contact-us p {
  margin: 1rem 0;
  color: #666;
  font-size: "poppins";
}
footer {
  background-color: #000;
  font-size: .8rem;
}
.footer-child {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 2rem 1rem;
}
footer .link-list ul li {
display: inline-block;
margin: .15rem;

}
footer a {
  text-decoration: none;
  color: #fff;
}